<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register for SW project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/main.css" >
</head>
<body>
    <form {% if login %} action="/login" {% else %} action="/registration" {% endif %} method="POST">
        <div class="form-group row">
            <div class="col-xs-2">
                <label for="username">User name:</label>
                <input id="username" class="form-control" name="username" type="text">
                <br>
            </div>
        </div>    
        <div class="form-group row">
            <div class="col-xs-2">
                <label for="password">Password:</label>
                <input id="password" class="form-control" name="password" type="password">
                <br>
            </div>
        </div> 
        <div class="form-group">
            <button type="submit" class="btn btn-primary"> {% if login %} Login {% else %} Submit {% endif %}</button>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/main.js"> </script>
    
</body>
</html>